<% include ../partials/header %>




<div class="container">
<header class="jumbotron">
    <div class="container">
    <h1>Welcome to campground</h1>
    <p>view our handpicked campgrounds</p>
    <p><a class="btn btn-primary btn-lg "href="/campgrounds/new">Add a Campground</a></p>
    </div>
</header>



    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        
            <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-md-6">
                
                <div class="thumbnail">
            
                    <img src="<%= campground.image%>">
                    <div class="caption">
                        <h4><%= campground.name%></h4> 
                    </div>
                    <p><a class="btn btn-primary" href="/campgrounds/<%= campground._id%>">More Info</a></p>
                </div>
        
            </div>
        <%});%>
    </div>
    
<% include ../partials/footer %>        
</div>


