<% include partials/header %>
<!--<h1><%= //message %></h1>-->
<h1>Login</h1>

<form action="/login" method="POST">
    <input name="username" type="text" placeholder="username">
    <input name="password" type="password" placeholder="password">
    <button>Sign In</button>
</form>

<% include partials/footer %>